.about__me {
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 2.4rem;

    margin: 1.6rem;
    padding-right: 1.5rem;
    text-align: justify;
}

.about__me__title {
    color: #FF859B;

    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.6rem;

    padding: 3rem;
    text-align: left;
    text-shadow: 0 3px 3px rgba(0, 0, 0.75);
}

.about__me__description {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;

    padding: 0 0 2rem 2.5rem;
    text-align: left;
    text-shadow: 0 2px 3px rgba(0, 0, 0.75);
}

.about__me__description:nth-child(2) {
    padding-bottom: 4rem;
}

@media (min-width: 768px) {
    .about__me {
        margin-top: 3.2rem;
    }

    .about__me__title {
        margin-left: 4.5rem;
        padding-top: 3.2rem;
    }

    .about__me__description {
        font-size: 1.6rem;
        line-height: 2rem;

        margin-left: 3.5rem;
        margin-top: 1.6rem;
        padding: 0 5rem 2.5rem 2rem;
    }
}

@media (min-width: 1024px) {
    .about__me__description {
        font-size: 1.6rem;
        line-height: 2.6rem;
        width: 95rem;
    }
}

@media (min-width: 1280px) {
    .about__me {
        margin: 0 5rem 0 5rem;
    }

    .about__me__title {
        font-size: 2.8rem;
    }

    .about__me__description {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-left: 6rem;
        text-align: justify;
        width: 110rem;
    }
}

@media (min-width: 1440px) {
    .about__me__title {
        padding-top: 4rem;
    }

    .about__me__description {
        width: 120rem;
    }
}

@media (min-width: 1500px) {
    .about__me {
        margin-left: 12rem;
        width: 150rem;
    }

    .about__me__description {
        width: 140rem;
    }

    .about__me__description:nth-child(2) {
        margin-bottom: 2.5rem;
    }
}