.footer__container {
    display: flex;
    justify-content: space-between;

    margin: 3.2rem;
}

.footer__description {
    align-self: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.9rem;

    padding-bottom: 3.2rem;
    text-align: center;
}

.footer__description:hover {
    color: #ff1867;
    font-weight: bold;
    text-shadow: 0 3px 3px rgba(0, 0, 0.75);
}

.footer__button {
    align-content: center;
    background-color: #5de6de;
	background-image: linear-gradient(315deg, #5d81e6 0%, #b58ecc 74%);
    border: none;
    border-radius: 50%;
    fill: rgba(255, 255, 255, 0.877);
    filter: drop-shadow(0 0 0.2em rgba(255, 133, 155));

    height: 5rem;
    margin-left: 1rem;
    margin-bottom: 3.2rem;
    width: 5rem;
}

.footer__button:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.6em rgba(255, 133, 155));
    transform: scale(1.2);
}
